@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  min-height: 100dvh;

  transition: background-color 0.5s ease, color 0.3s ease, background-image 0.3s ease;
}

h1, h2, nav{
  font-family: "Rubik Distressed", system-ui;
}

body {
  background-color: white; /* light por defecto */
  background-image: url("/src/assets/images/organic-tiles.png");
  background-repeat: repeat;
  background-size: auto;
  color: black;
}

html.dark body {
  background-color: black; /* dark mode */
  background-image: url("/src/assets/images/bg-dark.webp");
  background-repeat: repeat;
  background-size: auto;
  color: white;
}